<h1> <%= @cat.name %> </h1>
<p> <%= @cat.description %> </p>

<table>
  <tr>
    <th> Birth Date </th>
    <th> Color </th>
    <th> Sex </th>
  </tr>
  <tr>
    <td> <%= @cat.birth_date %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.sex %> </td>
  </tr>
</table>
